.back-container {
  font-size: 10px;
  padding: 0.5em 0;

  a {
    color: blue;
  }
}

#drive-page {
  .header {
    padding: 2em;
    text-align: center;
    background: #ECECEE;
    max-width: 100%;

    .inner {
      padding: 1em;
      max-width: 600px;
      text-align: center;
      background: #E0E0FF;
      margin: 0 auto;
    }

    .amount-raised {
      font-size: 32px;
    }

    .source-embed {
      margin: 10px 0;
      font-size: 16px;
    }

    .meta {
      color: #999;
    }


  }

  .donate-form {
    background: lightsalmon;
    padding: 1em 0;

    // form {
    //   background: #fff;
    //   padding: 1em;
    //   max-width: 500px;
    //   margin: 0 auto;
    // }
  }

  .leaderboards {
    background: lightsteelblue;
    padding: 3em 0;
  }
}