.charity-selector-option {
  .charity-name {
    font-weight: bold;
    font-size: 12px;
  }
  .charity-number {
    color: #999;
    font-weight: normal;
    margin-left: 0px;
  }
  .charity-description {
    color: #666;
    font-size: 11px;
  }
  .charity-country {
    color: #666;
    font-size: 11px;
    font-style: italic;
  }

  &.has-image {
    display: flex;
    flex-direction: row;

    .charity-image-container {
      width: 80px;
      margin-right: 5px;
      font-size: 8px;
      img {
        width: 80px;
      }
    }
  }
}