.donations-list {
  list-style: inside none;
  padding: 0px;
  margin: 0px;

  > li {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #ccc;

    &:last-child {
      border-bottom: none;
    }

    .amount {
      font-weight: bold;
    }

    .date {
      color: #999;
    }
  }
}