.donations-list {
  list-style: inside none;
  padding: 0px;
  margin: 0px;

  > li {
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;

    &:last-child {
      border-bottom: none;
    }

    .money {
      font-weight: bold;
      margin-right: 0.25em;
    }

    .charity-name {
      margin-left: 0.25em;
      color: #333;
    }

    .date {
      color: #999;
    }

    .donor-name.anonymous {
      font-style: italic;
      color: #666;
    }

    a {
      color: #333;
      text-decoration: none;
    }

    .bottom-line {
      font-size: 0.8em;
      color: #999;
    }
  }
}
